.container{
    background-color: rgb(122, 216, 40);
    padding: 10px;
    height: 500px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: center; 
    /* justify-content: space-around;  */
    /* justify-content: space-evenly;  */
    /* justify-content: space-between;  */

    /* align-items: center;  */
    /* align-items: end; */
    /* align-items: start;  */
    /* align-items: baseline; */
}

.items{
    height: 100px;
    width: 100px;
    background-color: chocolate;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    
    
}

.item1{
    height: 150px;
    width: 100px;
}

.item2{
    height: 50px;
    width: 100px;
}
